<div class="container" >
  <!-- <app-student [student] ="studentX" ></app-student>
  <app-stortsman></app-stortsman>
  <app-entertainer></app-entertainer> -->
  <!-- <app-bootstrap-example [links] = "linksArr"></app-bootstrap-example> -->
  
  <div class = "row" >
    <div class="col-md-3 d-inline-block" *ngFor="let item of Data">
      <app-bootsp-card [Friends] = "item" (shareMe) = "dataFromChild($event)"></app-bootsp-card>
    </div>
  </div>
  <p>Selected Character : {{nameSelected}}</p>
  
</div>